body { 
  margin: 0; 
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 13px;
  min-width: 976px;
  overflow: hidden;
  background: url(/images/jsbin-bg.gif) repeat-x top left;
}

p {
  margin: 0;
}

#control {
  height: 61px;
  position: absolute;
/*  width: 100%;*/
  left: 0;
  right: 0;
}

.control, .help, .starting {
  width: 100px;
  padding: 15px;
  float: left;
  white-space: nowrap;
}

.control {
  padding-right: 0;
  width: 50%;
}

.starting {
  text-align: center;
}

.help {
  width: 40%;
  text-align: right;
  float: right;
}

.help a {
  outline: 0;
}

.starting, .help {
  line-height: 32px;
}

ul.flat {
  margin: 0;
  padding: 0;
}

ul.flat li {
  float: left;
  display: block;
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
}

.help ul.flat {
  float: right;
}

#control > *, a {
  color: #232323;
  text-shadow: #fff 1px 1px 1px;
}

a {
  font-weight: bold;
}

a:hover {
  text-shadow: #fff -1px -1px 3px;
}

.light {
  font-weight: normal;
  text-decoration: none;
}

.stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#bin {
  top: 62px;
  width: 100%;
}

div.html {
  left: 50%;
}

/*.mozilla #bin div.html {
  margin-left: -2px;
}

.mozilla #bin.javascript div.javascript,
.mozilla #bin div.html {
  border: 1px solid #0080FF;
}

#bin.javascript div.html,
#bin div.javascript {
  border: 0;
}
*/
div.code {
  width: 50%;
}

div.preview {
  display: none;
  width: 100%;
}

.code .label {
  padding: 10px;
  margin: 0 10px;
  padding-right: 0;
  margin-left: 1px;
  position: absolute;
  z-index: 10;
}

.code .label p {
/*  display: inline;*/
  font-weight: bold;
  cursor: pointer;
}

.code .label label {
  margin-top: 10px;
}

.code .label p > span {
  opacity: 0;
  filter:alpha(opacity=0);
  -webkit-transition: opacity 250ms linear;
  -moz-transition: opacity 250ms linear;
}

.code .label p:hover span {
  opacity: 1;
  filter:alpha(opacity=1);
}

#library {
  padding: 2px;
  width: 140px;
}

iframe.javascript {
  border-right: 1px solid #ccc !important;
}

.buttons {
  float: left;
  display: block;
  margin-right: 10px;
}

a.button {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 12px;
  line-height: 12px;
  padding: 10px;
  display: block;
  float: left;
  text-decoration: none;
  margin: 0px 0px;
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
}

a.gap {
  margin-right: 10px;
}

.button:hover {
  -moz-box-shadow: #fff 0px 0px 5px;
  -webkit-box-shadow: #fff 0px 0px 5px;
  background: rgba(0, 0, 0, 0.05);
}

.button:active, .button:focus {
  -moz-box-shadow: #C8C8C8 0px 0px 3px;
  -webkit-box-shadow: #C8C8C8 0px 0px 3px;
  border-color: #fff;
  outline: 0;
  text-shadow: none;
}

body.source a.source,
body.preview a.preview {
  background: #aaa;
  background: rgba(0, 0, 0, 0.25);
  text-shadow: none;
  border: 1px solid #ccc;
  -moz-box-shadow: #fff 0px 0px 5px;
  -webkit-box-shadow: #fff 0px 0px 5px;
  
  background-image: 
    -webkit-gradient(
      radial,
      center center,
      0,
      center center,
      50,
      color-stop(0, #BFBFBF),
      color-stop(1, #949494)
    );
  
}

body.preview a.preview {
  border-left: 0;
}

a.group {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-left: 0;
}

a.left {
  border-left: 1px solid #ccc;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

a.right {
  border-right: 1px solid #ccc;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}


#preview {
  z-index: 11; /* gets over the labels in IE */
}

#preview iframe,
#live iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

body.source #preview {
  display: none;
}

body.preview #source {
  opacity: 0;
  filter:alpha(opacity=0);
}

body.preview #preview,
body.source #source {
  display: block;
}

body.preview #source select {
  display: none;
}

.overlay {
  z-index: 98;
  background: #000;
  background: rgba(255, 255, 255, 0.3);
}

.javascript-only div.javascript {
  width: 100%;
  left: 0%;
}

.javascript-only div.html {
  display: none;
  left: 100%;
  width: 100%;
}

.label .show {
  display: none;
}

.javascript-only .label .hide,
.html-only .label .hide {
  display: none;
}

.javascript-only .label .show,
.html-only .label .show {
  display: inline;
}

.html-only div.javascript {
  left: -50%;
  display: none;
}

.html-only div.html {
  left: 0%;
  width: 100%;
}

/* lightbox */
.lightboxWrapper {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
}

.overlay {
  position: absolute;  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
}

.overlay {
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=50);
  background: #fff;
}

.lightbox {
  position: relative;
  width: 600px;
  z-index: 12;
/*  border: 10px solid #ccc;*/
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
  -moz-box-shadow: #666 0px 0px 5px;
  -webkit-box-shadow: #666 0px 0px 5px;
  box-shadow: #666 0px 0px 5px;
  top: 75px;
  width: 80%;
  max-height: 65%;
}

.lightbox h1 {
  margin: 0;
  background: #000;
  padding: 20px;
  color: #fff;
  position: relative;
/*  width: 100%;*/
}

.lightbox p,
.lightbox h2,
.lightbox h3 {
  margin: 14px 20px;
}
  
.lightbox p,
.lightbox li {
  font-size: 16px;
}

.lightbox li {
  margin: 8px 0;
}

.video {
  padding-left: 20px;
  background: url(/images/play.gif) no-repeat left center;
}

#info {
  display: inline-block;
  background: url(/images/info.gif) no-repeat bottom left;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  font-family: georgia;
  font-size: 10px;
  height: 14px;
  line-height: 14px;
  width: 14px;
  text-align: center;
  text-shadow: none;
}

#info:hover {
  background: url(/images/info.gif) no-repeat top left;  
}

#startingpoint {
  outline: 0;
}

textarea {
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
  margin: 0.4em;
  border: 0;
  padding: 0;
  font-family: Monaco, consolas, monospace;
  font-size: 10pt;
  color: black;
  margin-top: 60px;
  padding: 6px;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  resize: none;
  outline: none;
  -webkit-appearance: none;
}

#javascript {
  margin-top: 26px;
}

div.javascript {
  border-right: 1px solid #ccc;
}

/* tab based help pages */
#navigation {
  margin: 0;
  float: left;
  display: block;
  width: 200px;
  padding-left: 0px;
  list-style: none;
}

#navigation li {
  margin: 1px 0;
}

#navigation a {
  background: #A2B2CC;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  margin: 1px 0;
  text-shadow: none;
}

#navigation a:hover,
#navigation a.selected:hover {
  background: #89C;
  font-weight: bold;
}

#navigation a:active {
  border: 2px solid #647ECC;
  padding: 8px;
}

#navigation a.selected {
  background: #768BCC;
  font-weight: bold;  
}

.panels {
  margin-left: 210px;
}

.panels li {
  margin: 14px 0;
}

.panels code {
  font-size: 16px;
}

/* hud - apply style hud */
.hud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: url(/images/op7.png) repeat;
}

.hud .outercontainer {
  background: #1B1B1B;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: #fff;
  position: relative;
}

.hud .title {
  text-align: center;
  text-shadow: #000 1px 1px 1px;
  background: #454645;
}

#help pre {
  padding: 10px;
  background: #eee;
  overflow-x: auto;
}

#help {
  position: absolute;
  right: -300px;
  width: 279px;
  top: 0;
  bottom: 0;
  border-left: 1px solid #ccc;
  background: #F7F4EB;
  padding: 10px;
  overflow: auto;
/*  text-shadow: #fff 1px 1px 1px;*/
}

#help p {
  margin: 14px 0;
}

#help ol, #help ul {
  padding-left: 20px;
}

#help li {
  margin: 10px 0;  
}


#help dl.shortcuts {
	margin-bottom: 1em;
	margin-left: 26px; }
#help dl.shortcuts * {
	margin: 0;
	line-height: 2.25;
	font-weight: normal; }
#help .shortcuts dt {
	float: left;
	display: block;
	width: 7em;
	clear: both; }
#help kbd {
	/* not sure if this should be more specific ie. ".shortcuts kbd" */
	background: -webkit-gradient(linear, left top, center bottom, from(#000), to(#222));
	background-color: #000;
	color: #fff;
	font-family: "VAG Rounded", sans-serif;
	font-size: 90%;
	padding: 1ex;
	letter-spacing: 0.2ex;
	text-shadow: rgba(0,255,255,0.5) 0 0 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 1px 1px 0px #000; }
#help .shortcuts.a dt {
	width: 7em; }
#help .shortcuts.b dt {
	width: 10em; }

#revert {
  display: none;
}

#revert img {
  margin-top: -2px;
  margin-right: -1px;
  border: 0;
}

#revert img.enabled {
  display: none;
}

#revert.enable img.disabled {
  display: none;
}

#revert.enable img.enabled {
  display: inline;
}

body.streaming {
  background-position: 0 22px;
}

#stream {
  display: none;
}

#streaming {
  display: block;
  top: -23px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 22px;
  color: #fff;
  font-weight: bold;
  line-height: 20px;
  padding-left: 15px;
  text-shadow: #0A0 0px 1px 0px;
  display: block;
  background: #0c0;
  border-bottom: 1px solid #0a0;
  cursor: pointer;
}

#streaming a {
  text-shadow: #0A0 0px 1px 0px;
  color: #fff;
}

body.pausestream #streaming .pause {
  display: none;
}

body.streaming #streaming .resume {
  display: none;
}

body.pausestream #streaming .resume {
  display: inline;
}

#streaming .listen {
  display: none;
}

#streaming.listen .listen {
  display: inline;
}

body.pausestream #streaming {
  background: #c00;
  text-shadow: #a00 0px 1px 0px;
  border-bottom: 1px solid #a00;
}

body.pausestream #streaming a {
  text-shadow: #a00 0px 1px 0px;
}

body.streaming #streaming {
  top: 0;
}

body {
  -webkit-transition: background-position 100ms ease-out;
  -o-transition: background-position 100ms ease-out;
  -moz-transition: background-position 100ms ease-out;
  transition: background-position 100ms ease-out;
}

#streaming, #control, #bin {
  -webkit-transition: top 100ms ease-out;
  -o-transition: top 100ms ease-out;
  -moz-transition: top 100ms ease-out;
  transition: top 100ms ease-out;
}

body.streaming #control,
body.streaming #help {
  top: 22px;
}

body.streaming #bin {
  top: 84px;
}

/* simplified for that poor old dog: IE6 */
.ie6 .help,
.ie6 #help {
  display: none;
}

.ie6 .buttons a {
  color: #000;
}

.ie6 div, 
ie6, li {
  zoom: 1;
} 

.ie6 textarea {
  border: 5px solid #ccc;
  z-index: 9999;
  display: block;
  opacity: 1;
  -moz-opacity: 1;
  filter:alpha(opacity=1);
  outline: 1px solid #000;
  color: #000;
}

.ie6, .ie6 * {
  height: 100%;
}

#jslabel em {
  color: #a00;
  font-weight: normal;
  font-style: normal;
  font-size: 11px;
  padding: 2px;
  padding-left: 5px;
}

/* tipsy - for JS error notices */
.tipsy { padding: 5px; font-size: 10px; position: absolute; z-index: 100000; }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: left; }
.tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-arrow { position: absolute; background: url('../images/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }
.tipsy li, .tipsy ul {
  padding: 0;
  margin: 10px 0;
  list-style: none
}

/* attempt to get a live render preview in */
#live {
  display: none;
  top: 60%;
  border-top: 1px solid #ccc;
  z-index: 9999;
}

#live .close {
  background: url(/images/close.png) no-repeat center;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  opacity: 0.1;
  z-index: 99999;
  -webkit-transition: opacity ease-in 100ms;
  -moz-transition: opacity ease-in 100ms;
  -o-transition: opacity ease-in 100ms;
  -ms-transition: opacity ease-in 100ms;
  transition: opacity ease-in 100ms;
}

#live .close:hover {
  opacity: 1;
}

#bin.live #live {
  display: block;
}

.preview #bin.live #live {
  display: none;
}

#bin.live #source {
	bottom: 40%;
}

@media screen and (min-width: 1200px) { 
  #live { 
    top: 0;
    left: 67%;
    border-top: 0;
    border-left: 1px solid #ccc;
  }
  
  #bin.live #source {
    bottom: 0;
    right: 33%;
  }
}