{{> account_sidebar}}

<h1>Flag user</h1>

<form method="post" id="flag-user" action="/admin/flag-user">
  <p class="responseFeedback"></p>

  <div>
    <label for="username">User</label>
    <input type="text" name="username" id="username">
  </div>
  <input type="submit" value="flag as spammer">
</form>
<link href="{{static}}/css/account-profile.css" rel="stylesheet" type="text/css"/>
<script src="{{static}}/js/vendor/jquery-1.11.0.min.js"></script>
<script src="{{static}}/js/admin/flag-user.js{{cacheBust}}"></script>