{{> account_sidebar}}

<h1>Flag bin</h1>

<form method="post" id="flag-bin" action="/admin/flag-bin">
  <p class="responseFeedback"></p>

  <div>
    <label for="bin">Bin url</label>
    <input type="text" name="bin" id="bin">
  </div>

  <input type="hidden" id="_csrf" name="_csrf" value="{{token}}">
  <input type="submit" value="flag as active">
</form>
<link href="{{static}}/css/account-profile.css" rel="stylesheet" type="text/css"/>
<script src="{{static}}/js/vendor/jquery-1.11.0.min.js"></script>
<script src="{{static}}/js/admin/flag-bin.js{{cacheBust}}"></script>