{{> account_sidebar}}
<link rel="stylesheet" href="{{static}}/css/font.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/lib/codemirror.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/3024-day.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/3024-night.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/ambiance.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/base16-dark.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/base16-light.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/blackboard.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/cobalt.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/eclipse.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/elegant.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/erlang-dark.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/lesser-dark.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/mbo.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/mdn-like.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/midnight.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/monokai.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/neat.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/night.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/paraiso-dark.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/paraiso-light.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/pastel-on-dark.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/rubyblue.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/solarized.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/the-matrix.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/tomorrow-night-eighties.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/twilight.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/vibrant-ink.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/xq-dark.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/js/vendor/codemirror4/theme/xq-light.css{{cacheBust}}">
<link rel="stylesheet" href="{{static}}/css/jsbin-cm-theme.css{{cacheBust}}">

<h1>Default Preferences</h1>

<section id="content">
  <p>Configure how JS Bin is set up when you create a new bin, such as your default
    HTML content, processors selected, and more.</p>

  <form>
  <form id="editor-settings">
    <h3>Panels</h3>
    <div>
      <span class="label">Open panels</span>
      <label><input type="checkbox" name="open-panel" id="panel-html" checked> HTML</label>
      <label><input type="checkbox" name="open-panel" id="panel-css"> CSS</label>
      <label><input type="checkbox" name="open-panel" id="panel-javascript"> JavaScript</label>
      <label><input type="checkbox" name="open-panel" id="panel-console"> Console</label>
      <label><input type="checkbox" name="open-panel" id="panel-live" checked> Output</label>
    </div>

    <div>
      <label for="focused-panel">Focused panel</label>
      <select id="focused-panel">
        <option value="html">HTML</option>
        <option value="css">CSS</option>
        <option value="javascript">JavaScript</option>
        <option value="console">Console</option>
      </select>
    </div>

    <div>
      <label for="includejs">Auto-run JS</label>
      <input type="checkbox" checked id="includejs">
    </div>

    <h3>JSHint</h3>
    <div>
      <label for="jshint">Enable</label>
      <input type="checkbox" checked id="jshint">
    </div>

    <h4>Settings</h4>
    <div id="jshintOptions"></div>

    <h4>Preview</h4>
    <textarea id="editor-settings-example">function Name(param) {&nbsp;&nbsp;&nbsp;&nbsp;
  this.name = param || &#39;string&#39;;
  return this;&nbsp;&nbsp;&nbsp;&nbsp;
}
var object = new Object();
var longVariableNameToDemonstrateLineWrappingInCodeMirror = &#39;line wrapping is on by default&#39;.split(&#39; &#39;).map(String.prototype.toUpperCase.bind(String.prototype)).join(&#39;/n&#39;);</textarea>

    <h3>CSSLint</h3>
    <div>
      <label for="csshint">Enable</label>
      <input type="checkbox" id="csshint">
    </div>

    <h3>Processors</h3>
    <div>
      <label for="html-processor">HTML</label>
      <select id="html-processor">
        <option value="">none</option>
        <option value="jade">Jade</option>
        <option value="markdown">Markdown</option>
      </select>
    </div>

    <div>
      <label for="css-processor">CSS</label>
      <select id="css-processor">
        <option value="">none</option>
        <option value="less">Less</option>
        <!-- <option value="stylus">Stylus</option> -->
        <!-- <option value="scss">Scss</option> -->
      </select>
    </div>

    <div>
      <label for="javascript-processor">JavaScript</label>
      <select id="javascript-processor">
        <option value="">none</option>
        <option value="coffeescript">CoffeeScript</option>
        <option value="jsx">JSX (React)</option>
        <option value="processing">Processing</option>
        <option value="traceur">Traceur</option>
        <option value="typescript">TypeScript</option>
      </select>
    </div>

    <h3>Template</h3>
    <p>The template is the default content that appears in your new bins.</p>
    <input type="hidden" id="_csrf" name="_csrf" value="{{token}}">
  </form>
</section>
<script src="{{static}}/js/vendor/jquery-1.11.0.min.js"></script>
<script src="{{static}}/js/vendor/codemirror4/lib/codemirror.js{{cacheBust}}"></script>
<script src="{{static}}/js/vendor/codemirror4/mode/xml/xml.js{{cacheBust}}"></script>
<script src="{{static}}/js/vendor/codemirror4/mode/htmlmixed/htmlmixed.js{{cacheBust}}"></script>
<script src="{{static}}/js/vendor/codemirror4/mode/javascript/javascript.js{{cacheBust}}"></script>
<script src="{{static}}/js/vendor/jshint/jshint.js{{cacheBust}}"></script>
<script src="{{static}}/js/chrome/errors.js{{cacheBust}}"></script>
<script src="{{static}}/js/preferences-settings.js{{cacheBust}}"></script>