{{> account_sidebar}}

<h1>Your personal details</h1>

<section id="content" {{#if user.pro}}class="pro"{{/if}}>
  <form class="login" method="post" action="{{root}}/sethome">
    <p class="loginFeedback"></p>

    <div>
      <label for="name">Username</label>
      <input id="name" name="username" type="text" value="{{user.name}}" disabled>
      {{#if user.pro}}<div class="pro-badge">Pro</div>{{/if}}
    </div>

    <div>
      <label for="email">Email</label>
      <input id="email" name="email" type="text" value="{{user.email}}">
    </div>

    <div>
      <label for="key">Password</label>
      <input id="key" name="password" type="password">
    </div>

    <input type="hidden" id="_csrf" name="_csrf" value="{{token}}">
    <input type="submit" value="Update account">
  </form>
    <p class="link-container">
      <a class="link-dropbox link-btn" href="{{root}}/auth/dropbox">Link your Dropbox account</a>
    </p>
    <p class="link-container">
      {{#feature request "github"}}
        <a class="link-github link-btn" href="/auth/github">Link your Github account</a>
      {{/feature}}
    </p>
</section>
<link href="{{static}}/css/account-profile.css" rel="stylesheet" type="text/css"/>
<script src="{{static}}/js/vendor/jquery-1.11.0.min.js"></script>
<script src="{{static}}/js/account/account-settings.js{{cacheBust}}"></script>
