  <script src="https://codefund.io/scripts/1d661b49-1dee-40d6-b9e3-0b36cb7f8f86/embed.js?template=bottom-bar"></script>
  <div id="codefund_ad"></div>
  <script>
  $('body').addClass('bsaapi');</script>
{{!--

  <a href="https://terminal.training?utm_source=jsbin&utm_medium=banner&utm_campaign=flash-sale" class="cs__blurb" target="_blank">
    <strong>Flash sale: </strong> <span>learn the command line, 38 videos, 4 hours - this weekend only: $19 🚀</span>
  </a>




<div id="bsaapi" class="cs__wrapper">
  <a href="https://codesponsor.io" class="cs__blurb" target="_blank">
    <strong>CodeSponsor.io</strong> <span> - get paid by adding one line of code to your README</span>
  </a>
  <img class="cs__pixel" />
</div>
<script>
$(".cs__footer a").attr("href", "https://codesponsor.io/?utm_source=widget&utm_medium=banner&utm_campaign=" + "{{settings.[features ad code_sponsor_id]}}");
$.ajax({
  url: "https://app.codesponsor.io/p/" + "{{settings.[features ad code_sponsor_id]}}" + "/message.json",
  method: "GET"
}).done(function(results) {
  $('body').addClass('bsaapi');
  $(".cs__blurb").attr("href", results.link_href);
  $(".cs__blurb strong").text(results.title);
  $(".cs__blurb span").text(results.body);
  $(".cs__pixel").attr("src", results.pixel_href);
}).fail(function(args) {
  $(".cs__blurb strong").text("CodeSponsor.io");
  $(".cs__blurb span").text(" - get paid by adding one line of code to your README");
});
</script>
--}}
