<a class="toggle-side-nav mobile-nav-trigger" href="#mobile-nav"><img src="{{static}}/images/dave.min.svg" alt="Welcome to JS Bin"></a>
<nav id="mobile-nav">
<ul>
  <li aria-hidden="true"><a class="toggle-side-nav" href="#">Dismiss</a></li>
  <li><a class="createnew" href="/">New</a></li>
  <li><a class="homebtn" href="/open">Open…</a></li>
  <li class="loggedin"><a href="/account">Account</a></li>

  <li class="loggedin"><a href="/logout">Logout</a></li>
  <li class="loggedout"><a href="/login">Login / Register</a></li>
  <li class="gopro-plain"><a href="/upgrade">Upgrade</a></li>
  <li><a href="/help">Help</a></li>
  <li><a href="/blog">Blog</a></li>
  <li><a href="/about">About</a></li>
</ul>
<a href="https://github.com/jsbin/jsbin" id="version" aria-hidden="true">v{{version}}</a>
</nav>
