<div id="toppanel" class="toppanel-wrapper">
  <div class="toppanel-column">
    <a href="#" class="toppanel-hide" title="Dismiss">&times;</a>
    <a href="#" class="toppanel-logo">
      <img src="http://static.jsbin.com/images/jsbin_static.png" width="100">
    </a>
    <div class="toppanel-actions">
      <div>
        <a id="createnew" href="{{root}}" class="toppanel-button toppanel-button-disabled">New bin</a>
      </div>
      <div>
        <a href="#" class="toppanel-button toppanel-button-dropdown homebtn">Open bin...</a>
      </div>
    </div>
  </div>

  <div class="toppanel-column">
    <h2 class="toppanel-title"><a href="#">JS BIN features</a></h2>
    <ul class="toppanel-list">
      <li><a href="#">Live rendering</a></li>
      <li><a href="#">Interactive console</a></li>
      <li><a href="#">Codecasting</a></li>
      <li><a href="#" target="_blank" class="toppanel-video">Remote rendering</a></li>
      <li><a href="#">Quiet mode</a></li>
      <li><a href="#">Get integration</a></li>
      <li><a href="#">Milestones</a></li>
    </ul>
  </div>

  <div class="toppanel-column">
    <h2 class="toppanel-title"><a href="#">Pro features (£10/month)</a></h2>
    <ul class="toppanel-list">
      <li><a href="#" target="_blank" class="toppanel-video">Sync with Dropbox</a></li>
      <li><a href="#" target="_blank" class="toppanel-video">Private bins</a></li>
      <li><a href="#">Your own subdomain</a></li>
      <li><a href="#">Directo support (rather that via GitHub)</a></li>
      <li><a href="#" target="_blank" class="toppanel-video">Asset hosting</a></li>
      <li><a href="#">Access experiments</a></li>
      <li><a href="#">Multiple templates</a></li>
    </ul>
  </div>

  <div class="toppanel-column">
    <div class="toppanel-section">
      <h2 class="toppanel-title"><a href="http://jsbin.com/blog">Blog</a></h2>
      <ul class="toppanel-list">
        <li><a href="http://jsbin.com/blog/twdtw-6-syncing-pro-accounts">Sync with Dropbox</a></li>
      </ul>
    </div>
    <div class="toppanel-section">
      <h2 class="toppanel-title"><a href="http://jsbin.com/help">Help</a></h2>
      <ul class="toppanel-list">
        <li><a href="#">Private bins</a></li>
      </ul>
    </div>
    <div class="toppanel-section">
      <h2 class="toppanel-title"><a href="https://twitter.com/js_bin" target="_blank">Twitter js_bin</a></h2>
    </div>
  </div>

  <div class="toppanel-column">
    <div class="toppanel-section">
      <div class="toppanel-quote">&ldquo;Everyone should learn how to program a computer because it teaches you how to think&rdquo; &mdash; <span class="toppanel-quote-author">Steve Jobs</span></div>
    </div>
    <div class="toppanel-section">
      <h2 class="toppanel-title"><a href="#">Recent bins</a></h2>
      <ul class="toppanel-list">
        <li><a href="#"><span class="toppanel-bin-name">sdcwww</span> <span class="toppanel-bin-date">yesterday</span></a></li>
        <li><a href="#"><span class="toppanel-bin-name">uhsjj</span> <span class="toppanel-bin-date">last Wednesday</span></a></li>
        <li><a href="#"><span class="toppanel-bin-name">jiooo</span> <span class="toppanel-bin-date">2 weeks ago</span></a></li>
      </ul>
    </div>
  </div>
</div>
<script>
//if localstorage has ... then add class
try {
  if (localstorage.settings.indexOf('"toppanel":false') === -1) {
    document.body.className += ' toppanel';
  }
} catch (e) {
  
}
</script>