<div id="toppanel" class="toppanel-wrapper" style="display:none;">
  <div class="toppanel-column toppanel-column-first">
    <a href="#" class="toppanel-hide" title="Dismiss">&times;</a>
    <a href="#" class="toppanel-logo">
      <img src="{{static}}/images/jsbin_static.png" width="100">
    </a>
    <div class="toppanel-actions">
      <div>
        <a id="createnew" href="{{root}}" class="toppanel-button toppanel-button-disabled">New bin</a>
      </div>
      <div>
        <a href="#" class="toppanel-button homebtn">Open bin...</a>
      </div>
    </div>
  </div>

  {{#information}}
  <div class="toppanel-column">
    <h2 class="toppanel-title"><a href="{{features.link}}">{{features.title}}</a></h2>
    {{#features.data}}
      <ul class="toppanel-list">
        {{#.}}
          <li><a href="{{link}}">{{title}}</a></li>
        {{/.}}
      </ul>
    {{/features.data}}
  </div>

  <div class="toppanel-column">
    <h2 class="toppanel-title"><a href="{{pro-features.title}}">{{pro-features.title}}{{#unless user.pro}} (£10/month){{/unless}}</a></h2>
    {{#pro-features.data}}
      <ul class="toppanel-list">
        {{#.}}
          <li><a href="{{link}}">{{title}}</a></li>
        {{/.}}
      </ul>
    {{/pro-features.data}}
  </div>

  <div class="toppanel-column">
    <div class="toppanel-section">
      <h2 class="toppanel-title"><a href="{{blog.title}}">{{blog.title}}</a></h2>
      {{#blog.data}}
        <ul class="toppanel-list">
          {{#.}}
            <li><a href="{{link}}">{{title}}</a></li>
          {{/.}}
        </ul>
      {{/blog.data}}
    </div>
    <div class="toppanel-section">
      <h2 class="toppanel-title"><a href="{{help.link}}">{{help.title}}</a></h2>
      {{#help.data}}
        <ul class="toppanel-list">
          {{#.}}
            <li><a href="{{link}}">{{title}}</a></li>
          {{/.}}
        </ul>
      {{/help.data}}
    </div>
    <div class="toppanel-section">
      <h2 class="toppanel-title"><a href="{{twitter.link}}" target="_blank">{{twitter.title}}</a></h2>
      {{#twitter.data}}
        <ul class="toppanel-list">
          {{#.}}
            <li><a href="{{link}}">{{title}}</a></li>
          {{/.}}
        </ul>
      {{/twitter.data}}
    </div>
  </div>

  <div class="toppanel-column">
    <div class="toppanel-section">
      <div class="toppanel-quote">{{{quote}}}</div>
    </div>
    {{!--
      <div class="toppanel-section">
        <h2 class="toppanel-title"><a href="#">Recent bins</a></h2>
        <ul class="toppanel-list">
          <li><a href="#"><span class="toppanel-bin-name">sdcwww</span> <span class="toppanel-bin-date">yesterday</span></a></li>
          <li><a href="#"><span class="toppanel-bin-name">uhsjj</span> <span class="toppanel-bin-date">last Wednesday</span></a></li>
          <li><a href="#"><span class="toppanel-bin-name">jiooo</span> <span class="toppanel-bin-date">2 weeks ago</span></a></li>
        </ul>
      </div>
    --}}
  </div>
  {{/information}}
</div>
<script>
try {
  if (localStorage.settings.indexOf('"toppanel":false') === -1) {
    document.body.className += ' toppanel';
  }
} catch (e) {
  // if there is no localStorage 
}
</script>