<div id="toppanel" class="toppanel-wrapper">
  <div class="toppanel-column">
    <div class="toppanel-logo"></div>
    <div class="toppanel-actions">
      <div>
        <a href="#">New bin</a>
      </div>
      <div>
        <a href="#">Open bin</a>
      </div>
    </div>
  </div>

  <div class="toppanel-column">
    <h2 class="toppanel-title"><a href="#">JS BIN features</a></h2>
    <ul class="toppanel-list">
      <li><a href="#">Live rendering</a></li>
      <li><a href="#">Interactive console</a></li>
      <li><a href="#">Codecasting</a></li>
      <li><a href="#" target="_blank" class="toppanel-video">Remote rendering</a></li>
      <li><a href="#">Quiet mode</a></li>
      <li><a href="#">Get integration</a></li>
      <li><a href="#">Milestones</a></li>
      <li><a href="#">Processors</a></li>
    </ul>
  </div>

  <div class="toppanel-column">
    <h2 class="toppanel-title"><a href="#">Pro features (£10/month)</a></h2>
    <ul class="toppanel-list">
      <li><a href="#" target="_blank" class="toppanel-video">Sync with Dropbox</a></li>
      <li><a href="#" target="_blank" class="toppanel-video">Private bins</a></li>
      <li><a href="#">Your own subdomain</a></li>
      <li><a href="#">Directo support (rather that via GitHub)</a></li>
      <li><a href="#" target="_blank" class="toppanel-video">Asset hosting</a></li>
      <li><a href="#">Access experiments</a></li>
      <li><a href="#">Multiple templates</a></li>
      <li><a href="#">Download</a></li>
    </ul>
  </div>

  <div class="toppanel-column">
    
  </div>
</div>
<script>
document.body.className += ' toppanel';
</script>