<div id="urlHelp" class="modal">
  <div>
    <h2>JS Bin URLs</h2>
    <table>
      <thead>
        <tr>
          <th class="shortcut">URL</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>/</td>
          <td>Show the full rendered output.<br><small>This content will update in real time as it's updated from the /edit url.</small></td>
        </tr>
        <tr>
          <td>/edit</td>
          <td>Edit the current bin</td>
        </tr>
        <tr>
          <td>/watch</td>
          <td>Follow a Code Casting session</td>
        </tr>
        <tr>
          <td>/embed</td>
          <td>Create an embeddable version of the bin</td>
        </tr>
        <tr>
          <td>/latest</td>
          <td>Load the very latest bin (/latest goes in place of the revision)</td>
        </tr>
        <tr>
          <td>/{{#if home}}{{home}}{{/if}}{{#unless home}}[username]{{/unless}}/last</td>
          <td>View the last edited bin for this user</td>
        </tr>
        <tr>
          <td>/{{#if home}}{{home}}{{/if}}{{#unless home}}[username]{{/unless}}/last/edit</td>
          <td>Edit the last edited bin for this user</td>
        </tr>
        <tr>
          <td>/{{#if home}}{{home}}{{/if}}{{#unless home}}[username]{{/unless}}/last/watch</td>
          <td>Follow the Code Casting session for the latest bin for this user</td>
        </tr>
        <tr>
          <td>/quiet</td>
          <td>Remove analytics and edit button from rendered output</td>
        </tr>
        <tr>
          <td>.js</td>
          <td>Load only the JavaScript for a bin</td>
        </tr>
        <tr>
          <td>.css</td>
          <td>Load only the CSS for a bin</td>
        </tr>
        <tr><td colspan="2"><br><small>Except for username prefixed urls, the url may start with http://jsbin.com/abc and the url fragments can be added to the url to view it differently.</small></td></tr>
      </tbody>
    </table>
  </div>
</div>