<div id="toppanel" class="toppanel-wrapper" style="display:none;">
  <div class="toppanel-column toppanel-column-first">
    <a href="#" class="toppanel-hide" title="Close">&times;</a>
    <a href="#" class="toppanel-logo">
      <img src="{{static}}/images/dave.svg" width="100">
    </a>
    <div class="toppanel-actions{{#unless home}} toppanel-actions-alone{{/unless}}">
      <div>
        <a id="createnew" href="{{root}}" class="toppanel-button">New bin</a>
      </div>
      <div>
        {{#if home}}
        <a href="#" class="toppanel-button homebtn">Open bin...</a>
        {{/if}}
      </div>
    </div>
  </div>
{{#unless user.settings.gui.toppanel}}
<!-- handle ajax injection -->
{{else}}
{{#welcomePanel}}
{{#features}}
  <div class="toppanel-column">
    <h2 class="toppanel-title"><a href="{{link}}"{{#if ext}} target="_blank"{{/if}} class="toppanel-link">{{title}}</a></h2>
      <ul class="toppanel-list">
      {{#data}}{{#.}}<li><a href="{{link}}"{{#if ext}} target="_blank"{{/if}} class="toppanel-link">{{title}}</a></li>{{/.}}{{/data}}
      </ul>
  </div>
{{/features}}

{{#pro-features}}
  <div class="toppanel-column">
    <h2 class="toppanel-title"><a href="{{link}}"{{#if ext}} target="_blank"{{/if}} class="toppanel-link">{{title}}{{#unless ../../user.pro}} (upgrade){{/unless}}</a></h2>
      <ul class="toppanel-list">
      {{#data}}{{#.}}<li><a href="{{link}}"{{#if ext}} target="_blank"{{/if}} class="toppanel-link">{{title}}</a></li>{{/.}}{{/data}}
      </ul>
  </div>
{{/pro-features}}

  <div class="toppanel-column">
  {{#blog}}
    <div class="toppanel-section">
      <h2 class="toppanel-title"><a href="{{link}}"{{#if ext}} target="_blank"{{/if}} class="toppanel-link">{{title}}</a></h2>
        <ul class="toppanel-list">
        {{#data}}{{#.}}<li><a href="{{link}}"{{#if ext}} target="_blank"{{/if}} class="toppanel-link">{{title}}</a></li>{{/.}}{{/data}}
        </ul>
    </div>
  {{/blog}}
  {{#help}}
    <div class="toppanel-section">
      <h2 class="toppanel-title"><a href="{{link}}"{{#if ext}} target="_blank"{{/if}} class="toppanel-link">{{title}}</a></h2>
        <ul class="toppanel-list">
        {{#data}}{{#.}}<li><a href="{{link}}"{{#if ext}} target="_blank"{{/if}} class="toppanel-link">{{title}}</a></li>{{/.}}{{/data}}
        </ul>
    </div>
  {{/help}}
  </div>

  <div class="toppanel-column">
    {{#twitter}}
      <div class="toppanel-section">
        <h2 class="toppanel-title"><a href="{{link}}" target="_blank" class="toppanel-link">{{title}}</a></h2>
          <ul class="toppanel-list">
          {{#data}}
            {{#.}}
              <li>&ldquo;{{{title}}}&rdquo; &mdash; <a href="{{link}}" target="_blank" class="toppanel-link toppanel-twitter-link">@js_bin</a></li>
            {{/.}}
          {{/data}}
          </ul>
      </div>
    {{/twitter}}
  </div>

  <div class="toppanel-column">
  {{#quote}}
    <div class="toppanel-section">
      <div class="toppanel-quote">{{{.}}}</div>
    </div>
  {{/quote}}
    {{!--
      <div class="toppanel-section">
        <h2 class="toppanel-title"><a href="#">Recent bins</a></h2>
        <ul class="toppanel-list">
          <li><a href="#"><span class="toppanel-bin-name">sdcwww</span> <span class="toppanel-bin-date">yesterday</span></a></li>
          <li><a href="#"><span class="toppanel-bin-name">uhsjj</span> <span class="toppanel-bin-date">last Wednesday</span></a></li>
          <li><a href="#"><span class="toppanel-bin-name">jiooo</span> <span class="toppanel-bin-date">2 weeks ago</span></a></li>
        </ul>
      </div>
    --}}
  </div>
{{/welcomePanel}}
{{/unless}}
</div>

<script>
try {
  if (localStorage.settings === undefined || localStorage.settings.indexOf('"toppanel":false') === -1) {
    document.body.className += ' toppanel';
  }
} catch (e) {
  // if there is no localStorage
}
</script>