<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>JS Bin</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" href="{{root}}/images/favicon.png"/>
    <link rel="stylesheet" href="{{static}}/css/sub/style.css"/>
  </head>
  <body>
    <div id="container">
      <header>
      <div class="inner"><a id="back" href="{{root}}"><span class="morewords">Back to JS Bin</span></a>
        <nav><a href="{{learn}}/help">Help</a>
        </nav>
      </div>
      </header>
      <div>
        {{{body}}}
      </div>
      <div class="clear">
      </div>
    </div>
    <footer id="footer">
    <div class="inner">
      <ul class="notable">
        <li><a href="{{learn}}/about">About</a>
        </li>
        <li><a href="http://github.com/jsbin">Github</a>
        </li>
        <li><a href="http://twitter.com/js_bin">Twitter</a>
        </li>
        <li><a href="http://jsbin.com/videos">YouTube</a>
        </li>
      </ul>
    </div>
    </footer>
  </body>
</html>
