<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <meta name="viewport" content="width=device-width">
  <link rel="icon" href="{{static}}/images/favicon.png">
  <link rel="stylesheet" type="text/css" href="{{static}}/css/sub.css">
  <title>{{title}}</title>
</head>
<body>
  <header>
    <a id="logo" href="{{back}}"><img height="32" src="{{static}}/images/jsbin-32.png"> Back<span class="morewords"> to JS Bin</span></a>

    <nav>
      <a href="{{root}}/pro">Pro features</a>
      <a href="http://learn.jsbin.com/blog">Blog</a>
      <a class="button action" href="{{root}}/login">Login</a>
      <a class="button" href="{{root}}/register">Register</a>
    </nav>

  </header>
  <hr>
  <article id="body">
    {{{body}}}
  </article>
  <footer>
  <hr>
    <ul class="notable">
      <li><a href="http://learn.jsbin.com/supporters">JS Bin Supporters</a></li>
    </ul>
    <ul class="meta">
      <li><a href="http://learn.jsbin.com/about">About</a></li>
      <li><a href="http://learn.jsbin.com/terms">Terms</a></li>
      <li><a href="http://learn.jsbin.com/privacy">Privacy</a></li>
    </ul>
  </footer>
</body>
</html>
