# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/src/css/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
s3_website.yml
.vscode/
tmp/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
