<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>410: JS Bin gone</title>
    <link rel="stylesheet" type="text/css" href="{{static}}/css/static-page.css?{{version}}">
  </head>
  <body>
    <img id="dave" src="{{static}}/images/dave.min.svg?{{version}}" alt="Dave, the JS Bin bot">
    <div class="wrapper">
      <h1>410: This bin has gone</h1>
      <p>This bin has gone and there's no alternative that I'll redirect you to. It's quite possible this bin has been blocked from appearing due to abuse content, so really, I'm just doing you a&nbsp;favour.</p>
    </div>
  </body>
</html>
