<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>410: JS Bin gone</title>
    <link rel="stylesheet" type="text/css" href="{{static}}/css/static-page.css?{{version}}">
  </head>
  <body>
    <img id="dave" src="{{static}}/images/dave.min.svg?{{version}}" alt="Dave, the JS Bin bot">
    <div class="wrapper">
      <h1>410: This bin has gone</h1>
      <p>This bin has gone and there's no alternative that I'll redirect you to. It's quite possible this bin has been blocked from appearing either due to the owner being anonymous, or the content flagged for abuse.</p>

      <p>In some cases you will still be able to view the <a href="{{request.url}}/edit">editable</a> content in the browser.</p>
    </div>
  </body>
</html>
