<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>504: JS Bin unavailable</title>
    <link rel="stylesheet" type="text/css" href="{{static}}/css/static-page.css">
  </head>
  <body>
    <div class="wrapper">
      <img id="dave" src="{{static}}/images/jsbin_static.png" alt="Dave, the JS Bin bot">
      <div id="welcome">
          <h1>504: Dave didn't come back quickly enough</h1>
          <div class="bubble">
            <p>This is embarrassing, you've asked for something and I've spent too long getting it. Maybe I got distracted by some pretty lights, but you'll never know.</p>
            <p>Do check <a href="http://status.jsbin.com">status.jsbin.com</a>, but do <a href="https://twitter.com/intent/tweet?text=@js_bin%20love%20the%20service,%20but%20you're%20taking%20too%20long%20to%20respond%20to%20requests%20(504).%20I've%20checked%20status.jsbin%20but%20thought%20I'd%20give%20you%20a%20heads%20up.">ping @js_bin</a> if this problem keeps happening.</p>
            <p>If you want to add details please add it to the <a href="http://github.com/jsbin/jsbin/issues">issues page</a> and add any additional information you can to help diagnose this slackness.</p>
          </div>
      </div>
    </div>
  </body>
</html>
