{{> account_sidebar}}
<link href="{{static}}/js/vendor/codemirror5/lib/codemirror.css" rel="stylesheet" type="text/css">
<link href="{{static}}/css/codemirror.css" rel="stylesheet" type="text/css">
<link href="{{static}}/css/style.css" rel="stylesheet" type="text/css">
<link href="{{static}}/css/themes.css" rel="stylesheet" type="text/css">


<form>
	<label> Font size
		<input name="font" id="font-size" type="number">
	</label>
	<label>Theme
		<select id="theme" name="theme">
			<option value="default">
        default
			</option>
			<option value="xq">
        xq
			</option>
			<option value="vibrant">
        vibrant
			</option>
			<option value="twilight">
        twilight
			</option>
			<option value="solarized">
        solarized
			</option>
			<option value="rubyblue">
        rubyblue
			</option>
			<option value="night">
        night
			</option>
			<option value="neat">
        neat
			</option>
			<option value="monokai">
        monokai
			</option>
			<option value="lesser">
        lesser
			</option>
			<option value="erlang">
        erlang
			</option>
			<option value="elegant">
        elegant
			</option>
			<option value="eclipse">
        eclipse
			</option>
			<option value="cobalt">
        cobalt
			</option>
			<option value="blackboard">
        blackboard
			</option>
      <option value="ambiance">
        ambiance
      </option>
		</select>
	</label>
	<label> Use tabs
		<select id="indentWithTabs">
			<option value="1">
				Tabs
			</option>
			<option value="0">
				Spaces
			</option>
		</select>
	</label>
	<label> Tab size
		<input id="tabSize" name="tabSize" min="1" type="number">
	</label>
	<label> Wrap lines
		<input id="lineWrapping" name="lineWrapping" type="checkbox">
	</label>
	<label> VIM mode
		<input id="vimMode" name="vimMode" type="checkbox">
	</label>
	<input type="hidden" id="_csrf" name="_csrf" value="{{token}}">
</form>

<textarea id="editor-settings-example" value="function Name (param) {/n/tthis.name = param || 'string';/n/treturn this;/n}/n/nvar object = new Object();">
function Name (param) {
	this.name = param || 'string';
	return this;
}
var object = new Object();
var longVariableNameToDemonstrateLineWrappingInCodeMirror = 'line wrapping is on by default'.split(' ').map(String.prototype.toUpperCase.bind(String.prototype)).join('/n');
</textarea>

<script src="{{static}}/js/vendor/jquery-1.11.0.min.js"></script>
<script src="{{static}}/js/vendor/codemirror5/lib/codemirror.js"></script>
<script src="{{static}}/js/vendor/codemirror5/mode/javascript/javascript.js"></script>
<script src="{{static}}/js/vendor/codemirror5/keymap/vim.js"></script>
<script src="{{static}}/js/vendor/underscore/underscore.js"></script>
<script src="{{static}}/js/editor-settings.js"></script>

