<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>404: JS Bin not found</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{static}}/css/static-page.css?{{version}}">
  </head>
  <body>
    <img id="dave" src="{{static}}/images/dave.min.svg?{{version}}" alt="Dave, the JS Bin bot">
    <div class="wrapper">
    {{#if is_404}}
      <h1>This page isn't here :-(</h1>
      <p>How about heading back to the <a href="{{root}}">homepage</a>
      instead? It's nice there and there are lots of things to click on.</p>
      <p>If you think there is supposed to be something here that isn't
      let us know via the <a href="http://github.com/jsbin/jsbin/issues">Issues page</a>.</p>
    {{/if}}
    {{#if is_500}}
      <h1>Something went wrong!</h1>
      <p>But don't worry we're probably on the case. In the
            meantime you could try refreshing the page, if that doesn't work
            let us know by creating an issue on the <a href="http://github.com/jsbin/jsbin/issues">issues page</a>.</p>
<!--
{{err}}

{{stack}}
-->
        {{/if}}
      {{#if is_500}}
        <details>
          <summary>The error: {{err}}</summary>
          <pre>{{request.method}} {{request.url}}
{{stack}}</pre>
        </details>
      {{/if}}
    </div>
  </body>
</html>
