<link rel="stylesheet" href="/css/login.css">
<div class="form-container">
  <div class="tabs">
    <a class="tab tab-selected" href="{{root}}/login">Login</a>
    <a class="tab" href="/register">Signup</a>
  </div>
  <form action="{{root}}/login" method="post" class="login">
    <div>
      <label>Username or Email<br>
      <input name="username" type="text"></label>
    </div>
    <div>
      <label>Password<br>
      <input name="key" type="password"></label>
    </div>
    <div>
      <input type=submit value="Log in">
      <input type="hidden" name="_csrf" value="{{token}}">
      <a id="lostpass" href="{{root}}/forgot">Reset password</a>
    </div>
  </form>
</div>
<link rel="stylesheet" href="{{static}}/css/login.css">
<script src="{{static}}/js/vendor/jquery-1.11.0.min.js"></script>
<script src="{{static}}/js/chrome/login.js"></script>
