{{^username}}
<link rel="stylesheet" type="text/css" href="{{static}}/css/preview.css">
<div id="__jsbin" style="display: block !important" class="name header anon">
  <p>Page was created by an anonymous JS Bin user &ndash; <a href="/report-abuse">Report Abuse</a></p>
  <p class="right">
    If this is your bin, you can <a href="">register</a> to remove this message
    <a class="button" href="{{code_id_path}}/edit"><img src="/images/jsbin_16.png"> Edit this bin</a>
    <a id="close" class="button icon icon-x" href="http://learn.jsbin.com/task/remove-bin-preview-frame"></a>
  </p>
</div>
<script>
var path = window.location.pathname;
var hide = document.cookie.indexOf('hide=' + path) !== -1;
if (!hide) {
  document.body.className='show';
  document.getElementById('close').onclick = function (event) {
    document.body.className='';
    document.cookie = 'hide=' + path + ';path=' + path + ';max-age=' + 60*60*24*365;
    event.preventDefault && event.preventDefault();
    event.returnValue = false;
  };
}

</script>
{{/username}}
