{{#if username}}
<script src="{{static}}/js/render/edit.js"></script>
{{else}}
<script>
(function () {
var iframe = '<!--prevents injected from being hidden--><iframe style="display:block !important;border:0;width:100% !important;height:36px !important;" src="{{code_id_path}}/output-header"><'+'/iframe>';

document.write(iframe);
var frame = document.body.lastChild;
frame.contentWindow.onmessage = function (event) {
  if (event.origin === location.origin && event.data === 'hide') {
    var path = window.location.pathname;
    document.cookie = 'hide=' + path + ';path=' + path + ';max-age=' + 60*60*24*365;
    if (event.preventDefault) event.preventDefault();
    window.location.reload();
  }
}
frame.addEventListener('DOMNodeRemoved', function () {
  // console.log('removed');
  setTimeout(function () {
    document.body.insertBefore(frame, document.body.firstChild);
  }, 100);
})

})();
</script>
{{/if}}