<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Report of JS Bin abuse</title>
    <link rel="stylesheet" type="text/css" href="{{static}}/css/static-page.css?{{version}}">
  </head>
  <body>
    <div class="wrapper">
      <img id="dave" src="{{static}}/images/dave.min.svg?{{version}}" alt="Dave, the JS Bin bot">
      <div id="welcome">
          <h1>Report Abuse</h1>
          <div class="bubble">
            <p>Thanks for flagging that for me. I'll investigate things a bit
            more and take any appropiate action.</p>
            <p>If you want to add more details, please add it to the <a href="http://github.com/jsbin/jsbin/issues">issues page</a> and include the url to this bin.</p>
          </div>
      </div>
    </div>
  </body>
</html>
