<!doctype html>
<meta charset=utf-8>
<title>JS Bin Runner</title>

<style type="text/css">
  body {
    margin: 0;
    padding: 0;
    background: transparent;
  }
  iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
</style>

<div id="sandbox-wrapper"></div>
{{#if settings.is_production}}
  <script>
  if ('serviceWorker' in navigator && location.origin.indexOf('null') !== -1) {
    navigator.serviceWorker.register('{{root}}/sw-runner.js', { scope: '/' });
  }
  </script>
  <script src="{{static}}/js/prod/runner-{{settings.version}}.min.js"></script>
  {{{analytics}}}
{{else}}
  {{#scripts}}<script src="{{../static}}{{.}}"></script>
  {{/scripts}}
{{/if}}

