<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>JS Bin SSL embed</title>
    <link rel="stylesheet" type="text/css" href="{{static}}/css/static-page.css?{{version}}">
  </head>
  <body>
    <img id="dave" src="{{static}}/images/dave.min.svg?{{version}}" alt="Dave, the JS Bin bot">
    <div class="wrapper">
      <h1>This bin needs a pro account</h1>
      <p>Embedding JS Bin under https is only available to bins created by users with a pro account.</p>
      <p>If you own this bin, you should <a class="gopro" target="_blank" href="{{root}}/upgrade">upgrade today</a> to enable this feature on all your&nbsp;bins.</p>
    </div>
  </body>
</html>
