const version = '{{version}}';
const root = 'https://rem.jsbin-dev.com';
const scripts = [
  new Request('/', { credentials: 'include' }),
  '/runner',
  '/js/vendor/jquery-1.11.0.min.js',
  '/images/dave.min.svg',
  '/images/favicon.svg',
  '/images/jsbin_animated.gif',
  '/images/popout.png',
  '/images/github-32.png',
  '/js/prod/jsbin-{{version}}.js',
  '/js/prod/runner-{{version}}.min.js',
  '/js/prod/addon-tern-{{version}}.min.js',
  '/css/style.css?{{version}}',
  '/css/font.css?{{version}}',
  '/bin/start.js?new=1',
  '/images/default-avatar.min.svg',

  // processors
  '/js/vendor/JSXTransformer.js?{{version}}',
  '/js/vendor/marked.min.js?{{version}}',
  '/js/vendor/codemirror5/mode/markdown/markdown.js?{{version}}',
  '/js/vendor/jade.js?1.4.2?{{version}}',
  '/js/vendor/less.min.js?{{version}}',
  '/js/vendor/babel.min.js?{{version}}',

  new Request('/bin/user.js', { credentials: 'include' }),
];
importScripts('/js/sw/index.js');
