const version = '{{version}}';
const root = '';
const rootStatic = '';
const scripts = [
  new Request('/', { credentials: 'include' }),
  '{{runner}}',
  '/bin/start.js?new=1',
  '/js/vendor/jquery-1.11.0.min.js',
  '/images/dave.min.svg',
  '/images/favicon.svg',
  '/images/jsbin_animated.gif',
  '/images/popout.png',
  '/images/github-32.png',
  '/js/prod/jsbin-{{version}}.min.js',
  '/js/prod/runner-{{version}}.min.js',
  '/js/prod/addon-tern-{{version}}.min.js',
  '/js/vendor/codemirror5/lib/codemirror.css?{{version}}',
  '/css/style.css?{{version}}',
  '/css/mobile.css?{{version}}',
  '/css/font.css?{{version}}',
  '/images/default-avatar.min.svg',

  // processors
  '/js/vendor/JSXTransformer.js',
  '/js/vendor/marked.min.js',
  '/js/vendor/codemirror5/mode/markdown/markdown.js',
  '/js/vendor/jade.js?1.4.2',
  '/js/vendor/less.min.js',
  '/js/vendor/babel.min.js',

  new Request('/bin/user.js', { credentials: 'include' }),
];
importScripts('/js/sw/index.js?{{version}}');
