<link rel="stylesheet" type="text/css" href="{{static}}/css/upgrade.css{{cachebust}}"/>
<h1>Pro Features</h1>
<table>
  <thead>
    <tr class="headings">
      <th>&nbsp;</th>
      <th>Anonymous</th>
      <th>Free</th>
      <th>
        Pro <small>@ £5/month*</small>
      </th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>
        <a id="pay" href="/account/upgrade/pay"><button>Upgrade!</button></a>
      </td>
    </tr>
  </tfoot>
  <tbody>
    {{#each featureList}}
    <tr class="{{user}}">
      <td class="feature">
        {{name}}
      </td>
      <td class="anon">
        {{#equal user 'anon'}}&#10003;{{/equal}}
      </td>
      <td class="free">
        {{#equal user 'anon'}}&#10003;{{/equal}}
        {{#equal user 'free'}}&#10003;{{/equal}}
      </td>
      <td class="pro">
        {{#equal user 'anon'}}&#10003;{{/equal}}
        {{#equal user 'free'}}&#10003;{{/equal}}
        {{#equal user 'pro'}}&#10003;{{/equal}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<p><small>* £5 per month with a yearly subscription, £6 with a monthly subscription.</small></p>


<h2>Your Pro accounts keep JS Bin 100% free for education</h2>
<p>
  Aside from the features listed above, your pro account will help keep
  JS Bin 100% free for educational uses (schools, universities and community
  training). Those good people will be able to get free training accounts
  so they can continue to help young students and new-comers with JS Bin in
  their tool belt.
</p>

<p>Education is dear to our hearts, and pro accounts allows us to keep developing
  JS Bin with feature i want to see land, and to help fix and issues that cause
  problems for noth general users and those students stuck working with limited
  access to tech (like the version of JS Bin that works without a web connection
  and entirely from a usb stick with zero install).</p>

<!-- <h2> Supporters </h2>
<div class="backers">
  {{#each backersList}}
    <a href="{{url}}">
      <img class="backer-img" src="{{image}}"/>
    </a>
  {{/each}}
</div>
 --><script src="{{static}}/js/vendor/jquery-1.11.0.min.js"></script>
<script src="{{static}}/js/account/upgrade.js"></script>
