div {
  zoom: 1;
}

#library {
  filter: alpha(opacity=0);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

#control, .control, .help {
  z-index: auto !important;
}

/**
*  Overwrite unicode character with image
**/

.button-dropdown-arrow:after,
.fake-dropdown:after {
  content: url(/images/down-arrow.png); 
}

/* toppanel */
a.toppanel-logo {
	position: relative;
	left: -10px;
	top: 237px;
	width: 20px;
}
.toppanel a.toppanel-logo {
	position: relative;
	left: 65px;
	top: 0;
	width: 100px;
}
.toppanel-button-dropdown:after {
	text-align: center;
}
.toppanel-button-disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
