html, body {
  min-height: 100%;
  background: white;
  margin: 0;
  color: #111111;
  font-family: 'helvetica neue', helvetica;
  font-weight: 200;
}

#body {
  font-size: 16px;
  line-height: 1.6;
}

header, article, footer {
  max-width: 760px;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  margin: 20px auto;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
}

hr {
  border: 0;
  border-bottom: 1px solid #ddd;
  /* border-bottom: 1px solid #A3D4FF; */
}

header nav {
  display: inline;
}

#back {
  float: left;
  padding-top: 5px;
}

#back img {
  vertical-align: middle;
  margin-right: 5px;
}

header, footer {
  font-size: 14px;
}

header a, footer a {
  /* padding: 10px; */
  padding-right: 10px;
  color: #111111;
  text-decoration: none;
}

article {
  position: relative;
  text-align: justify;
}

nav {
  float: right;
}

.button.action {
  margin-left: 20px;
}

.button {
  background: #aaa;
  display: inline-block;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  margin: 0 5px;
}

a:hover,
footer .meta a:hover {
  color: #0074D9;
}

.button:hover {
  background: #bbb;
  color: #fff;
}

.button.action {
  background: #FFDC00;
  color: #111;
}

.button.action:hover {
  background: #FFEB66;
}

/**
 footer page content
 */

#footer {
  margin-bottom: 150px;
}

#footer a {
  color: #999;
}

#footer hr {
  margin-top: 100px;
  margin-bottom: 40px;
}

#footer .notable {
  float: left;
}

#footer .meta {
  float: right;
}

#footer a:last-child {
  padding-right: 0;
}


#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer li {
  display: block;
  float: left;
  margin: 0 10px;
}

#footer li:first-child {
  margin-left: 0;
}

#footer li:last-child {
  margin-right: 0;
}

#footer li a {
  display: block;
}


@media only screen and (max-width: 480px) {
  .morewords {
    display: none;
  }
}
