body {
  font-family: helvetica neue;
  font-weight:200!important;
}

h1 {
  font-weight:300;
  text-align:center;
}

table {
  width:100%;
  margin:0 auto;
}

tr {

}

tr.headings td {
  font-weight:400;
  width:auto;
}

td {
  text-align:center;
  line-height:40px;
  font-size:18px;
  font-weight:300;
  width:100px;
}

td.feature {
  text-align:left;
}
/*
button.stripe-button-el {
  font-size: 1.4em;
  font-weight: 200;
  background: #f0f0f0;
  background: linear-gradient(0deg, #f0f0f0, #fefefe);
  box-shadow: 0px 1px 1px #eee;
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 10px 12px;
  cursor: pointer;
  display: inline;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  border-bottom: 2px solid #aaa;
}
button.stripe-button-el:hover {
  background: linear-gradient(0deg, #e8e8e8, #f8f8f8);
}
*/
