@import "vars";
@import "normalize";
@import "system-font";

@import "button";
@import "Themes";

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  font-family: system;
  font-size: $font-size-base;

  @import "splitter";
}

.JsBinApp {
  height: 100%;
}

[tabindex] {
  outline: none;
}

input {
  border-radius: 1px;
  border: 1px solid #03a9f4;
  font-size: $font-size-base * 1.2;
  padding: 5px;
}

input[type="checkbox"],
input[type="radio"],
label {
  cursor: pointer;
}

label {
  user-select: none;
}

summary {
  user-select: none;
}

.Error {
  transition: opacity 100ms ease-in-out;
  color: rgb(231, 76, 60);
  opacity: 0;
  line-height: $font-line-height;
  &.has-error {
    opacity: 1;
  }
}

kbd {
  font-size: $font-size-base;
  font-family: system;
  white-space: nowrap;
  .combo {
    padding: 0;
    background: none;
  }
}

kbd.combo > kbd,
kbd {
  padding: 5px;
  border-radius: 3px;
  background: rgb(243, 243, 243);
  text-decoration: none;
}

p > kbd,
td > kbd,
li > kbd,
button > kbd {
  box-shadow: .5px .5px 0 rgba(0, 0, 0, .2);
  border: 1px solid #ccc;
  margin: 0 4px;
}

kbd:first-child {
  margin-left: 10px;
}

.theme-dark {
  background: $c-dark-theme-bg;
  color: $c-dark-theme-text;

  .splitter-layout,
  kbd {
    background: $c-dark-theme-bg;
    color: $c-dark-theme-text;
  }

  input {
    background: $c-dark-theme-bg;
    color: $c-dark-theme-text;
    border: 1px solid rgb(60, 196, 255);
  }

  .Footer,
  .Button {
    color: $c-dark-theme-text;
  }
}
