$c-bg: #efefef;
$c-dark-theme-bg: hsl(220, 13%, 18%);
$c-text: #212121;
$c-dark-theme-text: #eee;
$c-divider: #ccc;
$c-dark-theme-border: #666;

$c-dark-theme-bg-accent: darken($c-dark-theme-bg, 5%);
$c-dark-theme-text-accent: darken($c-dark-theme-text, 30%);

$z-auto: auto;
$z-background: 1;
$z-bottom: 1;
$z-middle: 10;
$z-top: 1000;

$menu-height: 0; // 30px;
$font-size-base: 13px;
$font-line-height: 18px;
$font-family-code: 'SourceCodePro-Regular', menlo, monaco, Consolas,
  Lucida Console;
