@import "defaults";

.notification-bar-message {
  z-index: $z-top;
  color: $c-divider;
  a {
    color: $c-divider;
  }
}

.JsBinApp {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;

  .JsBinContainer {
    position: relative;
    display: block;
    flex-grow: 1;
  }
}
