@import "vars";
@import "normalize";

/*! system-font.css v1.1.0 | CC0-1.0 License | github.com/jonathantneal/system-font-face */

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system;
  font-style: italic;
  font-weight: 300;
  src: local(".SFNSText-LightItalic"),
    local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"),
    local("Ubuntu Light Italic"), local("Segoe UI Light Italic"),
    local("Roboto-LightItalic"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"),
    local(".LucidaGrandeUI"), local("Ubuntu"), local("Segoe UI"),
    local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system;
  font-style: italic;
  font-weight: 400;
  src: local(".SFNSText-Italic"), local(".HelveticaNeueDeskInterface-Italic"),
    local(".LucidaGrandeUI"), local("Ubuntu Italic"), local("Segoe UI Italic"),
    local("Roboto-Italic"), local("DroidSans"), local("Tahoma");
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 500;
  src: local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-MediumP4"),
    local(".LucidaGrandeUI"), local("Ubuntu Medium"), local("Segoe UI Semibold"),
    local("Roboto-Medium"), local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
  font-family: system;
  font-style: italic;
  font-weight: 500;
  src: local(".SFNSText-MediumItalic"),
    local(".HelveticaNeueDeskInterface-MediumItalicP4"),
    local(".LucidaGrandeUI"), local("Ubuntu Medium Italic"),
    local("Segoe UI Semibold Italic"), local("Roboto-MediumItalic"),
    local("DroidSans-Bold"), local("Tahoma Bold");
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 700;
  src: local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"),
    local(".LucidaGrandeUI"), local("Ubuntu Bold"), local("Roboto-Bold"),
    local("DroidSans-Bold"), local("Segoe UI Bold"), local("Tahoma Bold");
}

@font-face {
  font-family: system;
  font-style: italic;
  font-weight: 700;
  src: local(".SFNSText-BoldItalic"),
    local(".HelveticaNeueDeskInterface-BoldItalic"), local(".LucidaGrandeUI"),
    local("Ubuntu Bold Italic"), local("Roboto-BoldItalic"),
    local("DroidSans-Bold"), local("Segoe UI Bold Italic"), local("Tahoma Bold");
}

* {
  box-sizing: border-box;
}

[hidden] {
  display: none;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  font-family: system;
  font-size: $font-size-base;
}

#root {
  @import "splitter";

  .JsBinApp {
    height: 100%;
  }

  [tabindex] {
    outline: none;
  }
}

.Error {
  transition: opacity 100ms ease-in-out;
  color: rgb(231, 76, 60);
  opacity: 0;
  line-height: $font-line-height;
  &.has-error {
    opacity: 1;
  }
}

kbd {
  font-size: $font-size-base;
  font-family: system;
  white-space: nowrap;
  .combo {
    padding: 0;
    background: none;
  }
}

kbd.combo > kbd,
kbd {
  padding: 5px;
  border-radius: 3px;
  background: rgb(243, 243, 243);
  /* border: 2px solid #fff; */
}

p > kbd,
td > kbd,
li > kbd {
  box-shadow: .5px .5px 0 rgba(0, 0, 0, .2);
  border: 1px solid #ccc;
  margin: 0 4px;
}

kbd:first-child {
  margin-left: 10px;
}

kbd.symbol {
  // font-family: monospace;
}

.theme-dark {
  .splitter-layout,
  kbd {
    background: $c-dark-theme-bg;
    color: $c-dark-theme-text;
  }

  .Footer,
  .Button {
    color: $c-dark-theme-text;
  }
}

@import "Themes";
