@import "defaults";

.notification-bar {
  color: white !important;
  background: rgb(67, 160, 71) !important;
  padding: 1rem !important;
  font-size: 1.2rem !important;
  line-height: 1.4rem !important;
}

.notification-bar-message {
  z-index: $z-top;
  a {
    color: white;
  }
}

.JsBinApp {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;

  .JsBinContainer {
    position: relative;
    display: block;
    flex-grow: 1;
  }
}

.layout-pane-primary {
  // scroll-snap-type: y mandatory;
}
