@import "vars";

.CodeMirror {
  font-family: $font-family-code;
  height: 100%;
  padding: 5px 10px 0 0;
  font-size: $font-size-base;
  line-height: $font-line-height;

  .CodeMirror-linenumber {
    font-size: ($font-size-base - 2);
    line-height: 16px;
  }

  .CodeMirror-gutters {
    background: white;
    border-right: 0;
  }
}
