.CodeMirror {
  font-family: 'SourceCodePro-Regular', menlo, monaco, Consolas, Lucida Console,
    monospace;
  height: 100%;
  padding: 5px 10px 5px 0;

  .CodeMirror-linenumber {
    font-size: calc($font-size-base - 2);
    line-height: 16px;
  }

  .CodeMirror-gutters {
    background: none;
    border-right: 0;
  }
}
