@import "vars";

.Footer {
  padding: 0 20px 10px 20px;
  color: $c-text;
  p {
    text-align: center;
  }

  .error {
    color: rgb(231, 76, 60);
    opacity: 0;
    transition: opacity 100ms ease-in-out;
  }

  .error.has-error {
    opacity: 1;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: $c-text;
  }

  li {
    margin: 10px 0;
  }
}
