@import "vars";

.Footer {
  padding: 0 20px 0 20px;
  color: $c-text;
  p {
    text-align: center;
  }

  .Error {
    margin-bottom: 0;
  }

  .Version {
    display: block;
    margin-top: 20px;
    opacity: 0.3;
    font-size: $font-size-base * .9;

    > * {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    color: $c-text;
  }

  li {
    margin: 10px 0;
  }
}

.theme-dark {
  .Footer a {
    color: $c-dark-theme-text;
  }
}
