@import "vars";

// modifiers
.theme-dark .Palette {
  .inner {
    border-color: darken($c-dark-theme-border, 15%);
    background: darken($c-dark-theme-bg, 20%);
    color: darken($c-dark-theme-text, 40%);
    box-shadow: 0px 7px 17px 0px rgba(0, 0, 0, 1);
  }

  ul li.active {
    background: rgba(255, 255, 255, 0.2);
    color: $c-dark-theme-text;
  }
}

.Palette {
  position: absolute;
  z-index: $z-top;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  & > .inner {
    background: #eee;
    max-width: 500px;
    width: 100%;
    margin: 20px auto 0 auto;
    box-shadow: 0px 7px 17px 0px rgba(0, 0, 0, 0.33);
    border: 1px solid rgb(189, 189, 189);
    border-radius: 2px;
    flex-shrink: 1;

    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  input {
    margin: 10px;
    outline: none;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    min-height: $font-size-base * 1.2;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 50vh;
    overflow: scroll;

    li {
      padding: 10px;
      cursor: pointer;
      user-select: none;

      &.active {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
