@import "vars";

.Panel {
  // min-height: 100%;
  // padding-bottom: calc(100vh - #{$menu-height + $font-line-height + 5});
  .ReactCodeMirror {
    padding-top: 10px;
  }

  div[tabindex] {
    outline: none;
  }

  .AppFooter {
    opacity: 0.3;
    transition: opacity ease-out 100ms;

    &:hover {
      opacity: 1;
    }
  }

  .CodeSettings {
    margin: 20px;
    margin-top: 60px;
    // border: 1px solid #ccc;
    border-radius: 2px;
    background: #eee;
    padding: 20px;
    font-size: $font-size-base + 2;

    label {
      display: block;
      line-height: $font-line-height * 1.5;
      cursor: pointer;
      user-select: none;
    }

    label.select {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
    }

    select {
      flex-grow: 1;
      max-width: 400px;
      margin-left: 10px;
    }

    details {
      summary {
        margin-top: 20px;
        outline: none;
        color: #666;
        cursor: pointer;
      }

      &[open] summary {
        padding-bottom: 10px;
      }
    }
  }
}
