@import "vars";

@import "select";

.theme-dark .Panel {
  .CodeSettings {
    background: darken($c-dark-theme-bg-accent, 10%);
    color: $c-dark-theme-text-accent;

    input {
      color: lighten($c-dark-theme-text, 10%);
      background: darken($c-dark-theme-bg, 10%);
      border-color: $c-dark-theme-border;
    }
  }
}

.embedded .Panel .ReactCodeMirror {
  padding-top: 0;
}

.Panel {
  // min-height: 100%;
  // padding-bottom: calc(100vh - #{$menu-height + $font-line-height + 5});
  .ReactCodeMirror {
    padding-top: 10px;
  }

  div[tabindex] {
    outline: none;
  }

  .AppFooter {
    opacity: 0.3;
    transition: opacity ease-out 100ms;
    position: relative;
    z-index: 999;

    &:hover {
      opacity: 1;
    }
  }

  .CodeSettings {
    margin: 20px;
    // margin-top: 60px;
    // border: 1px solid #ccc;
    border-radius: 2px;
    background: #eee;
    padding: 20px;
    font-size: $font-size-base + 2;

    .last-saved {
      // color:
    }

    label {
      display: block;
      line-height: $font-line-height * 1.5;
      cursor: pointer;
      user-select: none;
    }

    .radio-group {
      label {
        display: inline-block;
        margin-right: 15px;

        input[type="radio"] {
          margin-right: 5px;
        }
      }
    }

    label.grow {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;

      & > span {
        display: flex;
        align-items: center;
        width: 50px;
      }
    }

    input[type="text"] {
      margin-left: 10px;
      flex-grow: 1;
      max-width: 400px;
    }

    details {
      summary {
        margin-top: 20px;
        outline: none;
        color: #666;
        cursor: pointer;
      }

      &[open] summary {
        padding-bottom: 10px;
      }
    }
  }
}

.embedded .CodeSettings details {
  display: none;
}
