@import "vars";

.theme-dark.Welcome .discover {
  background: $c-dark-theme-bg-accent;
  color: $c-dark-theme-text-accent;

  &:hover {
    background: darken($c-dark-theme-bg-accent, 10%);
  }

  p {
    color: $c-dark-theme-text;
  }
}

.Welcome {
  display: flex;
  flex-direction: column;
  height: 100%;

  .important {
    background: red;
    padding-left: 20px;
    padding-right: 20px;

    a {
      font-weight: bold;
    }

    * {
      color: white;
    }
  }

  main {
    display: flex;
    min-height: 100%;
  }

  .flex-col {
    height: 100%;
  }

  p {
    color: #aaa;
  }

  .discover {
    display: block;
    color: #666;
    background: #f6f6f6;
    padding: 20px;
    font-size: $font-size-base;
    border-radius: 1px;
    margin: 30px 0;

    &:hover {
      text-decoration: none;
      background: #f0f0f0;
    }

    h3 {
      // font-size: $font-size-base * 1.1;
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .jsbin-moto {
    color: #aaa;
    font-style: italic;
    ul {
      list-style: none;
      li {
        margin: 0;
      }
    }
    img {
      float: left;
    }
  }

  .content {
    flex-grow: 1;
  }

  input[type="checkbox"] {
    margin-right: 10px;
  }
}

.flex-col {
  flex: 1;
  display: block;

  .col {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .block {
    flex: 1;
  }

  .shrink {
    flex: 0 1 15%;
    display: flex;

    align-items: flex-end;
    justify-content: flex-start;
  }
}

@media (min-width: 480px) {
  .flex-col {
    flex-direction: row;
    display: flex;

    .col {
      width: 50%;
    }
  }
}
